html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button {
  cursor: pointer;
}

section {
  margin: 0 auto;
  overflow: auto;
  position: relative;
  min-height: 100%;
}

.flex-container {
  display: flex;
}

.page-wrapper {
  padding: 10px;
}

.center {
  width: 80%;
  margin-top: 30px;
}
/* Search field */
.search-section {
  border: 1px solid rgba(190,190,190, 1);
}

.search-section:hover {
 -webkit-box-shadow: 0px 0px 7px rgba(190,190,190,0.9);
  box-shadow: 0px 0px 7px rgba(190,190,190,0.9);
  border: 1px solid rgba(190,190,190, 1);
}

.search-field {
  flex: 1;
  width: 80%;
  outline: none;
  border: 0px;
  padding-left: 5px;
}

.search-button {
    background-color: rgba(54,127,232, 1);
    border: none;
    color: white;
    padding: 12px 24px; 
    font-size: 16px;
}
.search-button:hover {
    background-color: rgba(54,127,232, 0.8);
}

/* Section left and right */
.section-left {
  display: none;
  width: 50%;
  float: left;
}

.section-right {
  display: none;
  width: 50%;
  float: right;
}

.section-left, .section-right{
  padding-bottom: 6rem;
}

.section-left div, .section-right div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}

/*Search list and search item*/
.search-list {
  list-style-type: none;
  width: 500px;
}

.search-item {

}

.search-item span {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: #555;
}  

/*Image list and image item*/
.image-list {
  list-style-type: none;
}

.image-item img{
  float: left;
  margin: 5px;
  width: 150px;
  height: 150px;
  object-fit: contain;
 
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.image-item img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(190,190,190,0.9);
  box-shadow: 0px 0px 7px rgba(190,190,190,0.9);
}  